<h4 class="text-center">Cadastre-se e compartilhe seu pet com o mundo!</h4>

<form class="form mt-4" [formGroup]="novoUsuarioForm" (submit)="cadastrar()">
  <div class="form-group">
    <input class="form-control" placeholder="E-mail" formControlName="email" />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['required'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail obrigatório"
    >
    </app-mensagem>
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('email')?.errors?.['email'] &&
        novoUsuarioForm.get('email')?.touched
      "
      mensagem="E-mail inválido"
    >
    </app-mensagem>
  </div>
  <div class="form-group">
    <input
      class="form-control"
      placeholder="Nome Completo"
      formControlName="fullName"
    />
    <app-mensagem
      *ngIf="
        novoUsuarioForm.get('fullName')?.errors &&
        novoUsuarioForm.get('fullName')?.touched
      "
      mensagem="Nome obrigatório"
    >
    </app-mensagem>
  </div>
  <div class="form-group">
    <input
      class="form-control"
      placeholder="Usuário"
      formControlName="userName"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['minusculo'] &&
      novoUsuarioForm.get('userName')?.touched"
      mensagem="O usuário deve conter apenas letras minúsculas"
    >
    </app-mensagem>
    <app-mensagem
      *ngIf="novoUsuarioForm.get('userName')?.errors?.['usuarioExistente']"
      mensagem="Usuario já existe"
    ></app-mensagem>
  </div>
  <div class="form-group">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      formControlName="password"
    />
    <app-mensagem
      *ngIf="novoUsuarioForm.errors?.['senhaIgualUsuario']"
      mensagem="Senha deve ser diferente do usuário"
    ></app-mensagem>
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
  </div>
</form>

<p>Já é um usuário? <a [routerLink]="['']">Faça Login</a></p>
